<h2>Detalles del Carrito</h2>

<ul>
  {{#each products}}
    <li>
      <h3>{{this.title}}</h3>
      <p>Precio: {{this.price}}</p>
      <p>Cantidad: {{this.quantity}}</p>
    </li>
  {{/each}}
</ul>