<h1>CHAT EN VIVO</h1>

<main>
  <div>
    <input type="text" id="chats-box" />
  </div>
  <div>
    <p id="messages-box"></p>
  </div>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chats.js"></script>