<div class="login-container">
  <h2 class="title__login">Login</h2>
  <form action="" id="loginForm">
    <div class="input-container">
      <input
        type="email"
        name="email"
        class="usuario-input"
        placeholder="Usuario"
        autocomplete="username"
      />
    </div>
    <div class="input-container">
      <input
        type="password"
        name="password"
        class="password-input"
        placeholder="Password"
        autocomplete="current-password"
      />
    </div>
    <button type="submit" class="login-button">Iniciar Sesión</button>
  </form>
</div>

<p>No tienes una cuenta? <a href="/signup">Regístrate aquí</a></p>

<script src="/js/login.js"></script>