<h2>Profile</h2>

<label for="">Nombre: {{user.first_name}}</label><br />
<label for="">Apellido: {{user.last_name}}</label><br />
<label for="">Correo: {{user.email}}</label><br />
<label for="">Rol: {{user.role}}</label><br />

<button id="logout">Cerrar Sesión</button>

<script src="/js/profile.js"></script>